@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700s&family=Roboto+Mono:wght@100&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: white;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: lightblue;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.led {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  margin: 1px;
  min-height: 10px;
  min-width: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

button {
  background-color: rgb(7, 88, 116);
  margin: 10px;
  border: none;
  color: lightblue;
}

.side {
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 750px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
